<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<body ng-app="root" ng-controller="calCtrl">

	<form ng-submit="actAdd()">
	    <input class='type' type="text" ng-model="actInput" size="50" placeholder="What have you done?">
		<input type='date' ng-model='dateInput'>
	    <input class='press' type="submit" value="Add that">
	</form>

	<div ng-repeat="i in dateList">
	    <span ng-bind='i.itemDate'></span>
	    <span ng-bind="i.itemText"></span>
	</div>

</body>
<script src="root.js"></script>